@use "../../assets/stylesheets/helpers" as helpers;
@use "innoq-styleguide/dist/sass/settings/colors" as colors;

// Overwrite styles from tabelle because we want our own colors and icons
.tabelle-arrow {
  @include helpers.visually-hidden();

  &--asc,
  &--desc {
    cursor: pointer;
  }

  &--asc {
    @include helpers.icon-before("caret-up-solid.svg", colors.$brand-blue-25);
    cursor: pointer;
  }

  &--desc {
    @include helpers.icon-before("caret-down-solid.svg", colors.$brand-blue-25);
    cursor: pointer;
  }

  &:checked + &--asc::before,
  &:checked + &--desc::before {
    background-color: colors.$brand-blue-75;
  }

  &:hover + &--asc::before,
  &:hover + &--desc::before,
  &:focus + &--asc::before,
  &:focus + &--desc::before {
    background-color: colors.$brand-blue-50;
  }
}

.tabelle-input {
  max-width: 100%;
  border: 1px solid colors.$brand-blue-75;
  padding: 0.25rem 0.5rem;
}

.tabelle-header {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) 1rem;
  grid-template-rows: 1rem 1rem auto;
  grid-column-gap: 0.25rem;
  grid-template-areas:
    "header arrow-asc"
    "header arrow-desc"
    "search search";

  .header {
    grid-area: header;
    align-self: center;
  }

  .tabelle-arrow--asc {
    grid-area: arrow-asc;
  }

  .tabelle-arrow--desc {
    grid-area: arrow-desc;
  }

  input,
  select,
  .tabelle-input {
    grid-area: search;
  }
}
