@mixin icon-before($svg-path, $color, $height: 1rem) {
  &::before {
    width: $height;
    height: $height;
    background-color: $color;
    display: block;
    content: " ";
    mask-image: asset-url($svg-path);
    mask-repeat: no-repeat;
    mask-position: center;
  }
}

@mixin visually-hidden() {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

// Copied from INNOQ Styleguide because not possible to import with @uses
@mixin hover-fill($fill-color, $text-color, $hover-color) {
  z-index: 1;
  color: $text-color;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.175s ease-in-out;
    z-index: -1;
    background-color: $fill-color;
    width: 0%;
    height: 100%;
    content: '';
  }

  &:hover,
  &:focus {
    color: $hover-color;

    &::after {
      width: 100%;
    }
  }
}