$font-family-serif: FreightTextPro, Georgia, Times, 'Times New Roman', serif;
$font-family-sans-serif: FFMarkWebProBook, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-sans-serif-bold: FFMarkWebProBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-sans-serif-heavy: FFMarkWebProHeavy, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-icons: FFMarkWebProHeavy, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace: HackRegular, 'Monaco', 'Courier New', monospace;