$font-family-serif: FreightTextPro, Georgia, Times, "Times New Roman", serif;
$font-family-sans-serif: FFMarkWebProBook, "Helvetica Neue", Helvetica, Arial,
  sans-serif;
$font-family-sans-serif-bold: FFMarkWebProBold, "Helvetica Neue", Helvetica,
  Arial, sans-serif;
$font-family-sans-serif-heavy: FFMarkWebProHeavy, "Helvetica Neue", Helvetica,
  Arial, sans-serif;
$font-family-icons: FFMarkWebProHeavy, "Helvetica Neue", Helvetica, Arial,
  sans-serif;
$font-family-monospace: HackRegular, "Monaco", "Courier New", monospace;

$font-size-sm: 0.75rem;
$font-size-md: 0.875rem;
$font-size-base: 1rem;
