$breakpoint-phone: 35rem; /* 560px */

/*
INNOQ Styleguide
*/
@use "innoq-styleguide/dist/sass/generic/fontfaces";
@use "innoq-styleguide/dist/sass/settings/colors" as colors;

@use "helpers" as helpers;

/*
Application specific code
*/

@use "typography" as typography;
@use "app/components/amount";
@use "app/components/button";
@use "app/components/button-group";
@use "app/components/flash";
@use "app/components/navbar";
@use "app/components/squishable";
@use "app/components/tabelle";
@use "app/components/tabelle-toggler";
@use "app/components/table";
@use "app/components/table-responsive";

:root {
  --background-color: #{colors.$brand-gray-10};
  font-family: typography.$font-family-sans-serif;
  font-size: typography.$font-size-md;
}

.sr-only {
  @include helpers.visually-hidden();
}
