@use "../../assets/stylesheets/spacers" as spacings;

$space-between: spacings.$spacer-xxs;
.button-group {
  margin: -1 * ($space-between / 2);
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin: ($space-between / 2);
    flex-grow: 1;
  }
}
